body{
    background-color: rgb(126, 243, 188);
}

.titulo{
    text-align: center;
    color:rgb(66, 46, 248);
    font-size: 2rem;
}
.reloj{
    width: 15rem;
    height: 15rem;
    border:5px solid rgb(57, 43, 184);
    border-radius: 50%;
    box-shadow: inset 0 0 20px 0 rgb(57, 43, 184);
    color: blue;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1024px){
    .reloj{
        width: 25rem;
        height: 25rem;

    
    }
}
    /* @media screen and (min-width: 768px){
        .titulo{  
            font-size: 2rem;
        }
        .reloj{
            width: 25rem;
            height: 25rem;

        } */
    

